@use "variaveis";

footer {
  padding: 2vw 5.6vw;
  p {
    text-align: center;

    .david-vilela {
      color: variaveis.$colorTextTerciary;
    }
  }
}

@media (max-width: 768px) {
  footer {
    .text {
      font-size: 0.7em;
    }
  }
}
