@use "variaveis";

.store {
  text-align: center;
  margin-top: 5vw;
  padding: 3vw 5.6vw;

  h2 {
    margin-bottom: 30px;
  }

  &__list {
    margin: 0 auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &__item {
      img {
        width: 400px;
        border-radius: 8px;
        border: 3px solid variaveis.$colorTextTerciary;
      }

      p {
        font-weight: bold;
        margin-bottom: 10px;
      }

      button {
        padding: 12px 50px;
        background-color: variaveis.$colorTextButton2;
        color: variaveis.$colorTextSecundary;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid variaveis.$colorTextTerciary;
        border-radius: 6px;
        margin-bottom: 30px;
        text-decoration: none;

        a {
          text-decoration: none;
          color: variaveis.$colorTextSecundary;
        }

        &:hover {
          background-color: variaveis.$colorTextTerciary;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .store {
    h2 {
      font-size: 0.9em;
    }

    &__list {
      display: block;

      &__item {
        p {
          font-size: 0.8em;
          margin-bottom: 4px;
        }

        button {
          padding: 8px 25px;
          font-size: 0.5em;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .store {
    max-width: 100%;
    &__list {
      max-width: 100%;
    }
  }
}
